* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: 100%;
}
@media (min-width: 1100px) {
  .header {
    width: 100%;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    position: sticky;
    top: 0;
  }
}
.header__logo {
  width: 16%;
}
.header__logo:hover {
  scale: 1.2;
}
.header__navigation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1100px) {
  .header__navigation {
    width: 590px;
    height: 100%;
  }
}
.header__menu {
  margin-left: 4%;
  width: 5%;
}
.header__menu:hover {
  cursor: pointer;
}
@media (min-width: 1100px) {
  .header__menu {
    display: none;
  }
}

.navbar {
  display: none;
  width: 400px;
}
.navbar__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar__link {
  text-decoration: none;
  color: hsl(220, 13%, 13%);
  display: block;
  width: 100%;
  height: 90px;
  padding-top: 35px;
}
.navbar__link:hover {
  border-bottom: 3px solid green;
  color: green;
  font-size: 17px;
  font-weight: 700;
}
@media (min-width: 1100px) {
  .navbar {
    display: block;
  }
}
@media (min-width: 2000px) {
  .navbar {
    display: block;
    font-size: 180%;
  }
  .navbar__items {
    width: 700px;
    list-style: none;
    display: flex;
  }
  .navbar__link {
    text-decoration: none;
    color: hsl(220, 13%, 13%);
    display: block;
    width: 100%;
    height: 90px;
    padding-top: 35px;
  }
  .navbar__link:hover {
    border-bottom: 3px solid green;
    color: green;
    font-size: 110%;
  }
}

.modal-navbar {
  background-color: rgb(255, 255, 255);
  width: 65%;
  height: 100%;
  padding: 28px 24px;
}
.modal-navbar__background {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal-navbar__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  list-style: none;
  margin-top: 15%;
  margin-left: 6%;
}
.modal-navbar__link {
  text-decoration: none;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 50px;
}
.modal-navbar__close-icon {
  margin: 3%;
  width: 6%;
}
.modal-navbar__close-icon:hover {
  scale: 1.2;
  cursor: pointer;
}

.contact {
  text-align: center;
  align-items: center;
  padding-top: 1%;
  margin-bottom: 2%;
}
.contact__title-container {
  padding: 2%;
  border-bottom: 1px solid hsl(128, 58%, 40%);
  box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.27);
  margin-bottom: 4%;
  margin-left: 10%;
  margin-right: 10%;
}
.contact__tittle {
  color: hsl(128, 58%, 40%);
  text-align: center;
  font-size: 350%;
  font-weight: 900;
  margin-left: 10%;
  margin-right: 10%;
}
.contact__telefono h3 {
  color: hsl(128, 58%, 40%);
  text-align: center;
  font-size: 400%;
  margin-left: 10%;
  margin-right: 10%;
}
.contact__telefono p {
  color: hsl(0, 0%, 0%);
  text-align: center;
  font-size: 250%;
  font-weight: 600;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.contact__direccion h3 {
  color: hsl(128, 58%, 40%);
  text-align: center;
  font-size: 400%;
  margin-left: 10%;
  margin-right: 10%;
}
.contact__direccion p {
  color: hsl(0, 0%, 0%);
  text-align: center;
  font-size: 250%;
  font-weight: 600;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.contact__whatsapp h3 {
  color: hsl(128, 58%, 40%);
  text-align: center;
  font-size: 350%;
  margin-left: 10%;
  margin-right: 10%;
}
.contact__whatsapp p {
  color: hsl(0, 0%, 0%);
  text-align: center;
  font-size: 250%;
  font-weight: 500;
  margin-bottom: 3%;
}
.contact__redirect {
  background-color: green;
  border-radius: 15px;
  margin: 4%;
  margin-bottom: 5%;
}
.contact__redirect img {
  width: 25%;
  height: 100%;
  float: left;
  margin: 1%;
}
.contact__redirect p {
  float: right;
  font-size: 300%;
  margin-right: 20%;
  margin-top: 5%;
  color: white;
}
@media (min-width: 990px) {
  .contact {
    padding-top: 1%;
    margin-bottom: 3%;
  }
  .contact__tittle {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 400%;
    font-weight: 900;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__telefono h3 {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 450%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__telefono p {
    color: hsl(0, 0%, 0%);
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
  }
  .contact__direccion h3 {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 450%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__direccion p {
    color: hsl(0, 0%, 0%);
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
  }
  .contact__whatsapp h3 {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 450%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__whatsapp p {
    color: hsl(0, 0%, 0%);
    text-align: center;
    font-size: 300%;
    font-weight: 500;
    margin-bottom: 3%;
  }
  .contact__redirect {
    background-color: green;
    border-radius: 15px;
    margin: 4%;
    margin-bottom: 5%;
  }
  .contact__redirect:hover {
    cursor: pointer;
    scale: 1.1;
  }
  .contact__redirect img {
    border: 1px solid green;
    width: 25%;
    height: 100%;
    float: left;
    margin: 1%;
  }
  .contact__redirect p {
    float: right;
    font-size: 320%;
    margin-right: 20%;
    margin-top: 5%;
    color: white;
  }
}
@media (min-width: 1100px) {
  .contact {
    width: 100%;
  }
  .contact__tittle {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__telefono h3 {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 200%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__telefono p {
    color: hsl(0, 0%, 0%);
    text-align: center;
    font-size: 150%;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
  }
  .contact__direccion h3 {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 200%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__direccion p {
    color: hsl(0, 0%, 0%);
    text-align: center;
    font-size: 150%;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
  }
  .contact__whatsapp h3 {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 200%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__whatsapp p {
    color: hsl(0, 0%, 0%);
    text-align: center;
    font-size: 150%;
    font-weight: 500;
    margin-bottom: 3%;
  }
  .contact__redirect {
    background-color: green;
    width: 30%;
  }
  .contact__redirect:hover {
    cursor: pointer;
    scale: 1.1;
  }
  .contact__redirect p {
    color: white;
  }
}
@media (min-width: 2000px) {
  .contact {
    width: 100%;
  }
  .contact__tittle {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 400%;
    font-weight: 900;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__telefono h3 {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 400%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__telefono p {
    color: hsl(0, 0%, 0%);
    text-align: center;
    font-size: 250%;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
  }
  .contact__direccion h3 {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 400%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__direccion p {
    color: hsl(0, 0%, 0%);
    text-align: center;
    font-size: 250%;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
  }
  .contact__whatsapp h3 {
    color: hsl(128, 58%, 40%);
    text-align: center;
    font-size: 350%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact__whatsapp p {
    color: hsl(0, 0%, 0%);
    text-align: center;
    font-size: 250%;
    font-weight: 500;
    margin-bottom: 3%;
  }
  .contact__redirect {
    background-color: green;
    width: 40%;
    border-radius: 15px;
  }
  .contact__redirect:hover {
    cursor: pointer;
    scale: 1.1;
  }
  .contact__redirect img {
    width: 20%;
  }
  .contact__redirect p {
    color: white;
    margin-left: 10%;
  }
}

.main-container {
  width: 100%;
  margin: auto;
  position: relative;
}
@media (min-width: 1100px) {
  .main-container {
    width: 80%;
    height: auto;
  }
}
@media (min-width: 2000px) {
  .main-container {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 1100px) {
  .content {
    width: 100%;
    display: flex;
    padding: 5% 5%;
    gap: 124px;
  }
}
@media (min-width: 2000px) {
  .content {
    width: 100%;
    display: flex;
    padding: 5% 5%;
    gap: 124px;
  }
}

/*# sourceMappingURL=contactenos.css.map */
